@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

@theme {
  --font-sans: "Alegreya", system-ui, sans-serif;
  --font-heading: "Alegreya", Georgia, serif;
}
